<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles.css">
    <title>Home Page</title>
</head>

<body>
    <header>
        <nav id="navbar">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="Logo"></a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Welcome to the Home Page</h1>
            <p>This is the home page content.</p>
        </section>

        <section class="boxes">
            <div class="box">
                <a href="https://example.com" target="_blank">
                    <h2>External Site 1</h2>
                    <p>Visit Example Site</p>
                </a>
            </div>
            <div class="box">
                <a href="https://example2.com" target="_blank">
                    <h2>External Site 2</h2>
                    <p>Visit Example Site 2</p>
                </a>
            </div>
            <div class="box">
                <a href="https://example5.com" target="_blank">
                    <h2>External Site 5</h2>
                    <p>Visit Example Site 5</p>
                </a>
            </div>
        </section>
        <section class="between-section">
            <div class="content">
                <h2>Important Announcement</h2>
                <p>We have a special offer for you!</p>
            </div>
        </section>

        <section class="tiles">
            <div class="tile">
                <a href="https://example3.com" target="_blank">
                    <h2>External Site 3</h2>
                    <p>Visit Example Site 3</p>
                </a>
            </div>
            <div class="tile">
                <a href="https://example4.com" target="_blank">
                    <h2>External Site 4</h2>
                    <p>Visit Example Site 4</p>
                </a>
            </div>
        </section>
        <!-- <button id="backToTopBtn" title="Back to Top">↑</button> -->
        <a id="backToTopBtn" href="#navbar">^</a>

        <section class="google-ads">
            Space for ads
            <!-- Place your Google Ads code here -->

        </section>
    </main>

    <footer>
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </footer>


</body>
<!-- <script src="/script.js"></script> -->

</html>